<!DOCTYPE html>
<html lang="en">
<head th:fragment="head-fragment">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Crimson+Text&family=Dancing+Script:wght@600&family=IBM+Plex+Mono:wght@300&family=Kablammo&family=Kanit:wght@200&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Orbit&family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>

</body>
</html>